<!DOCTYPE html>

<html>
    <head>
        <script src="/js/index.js"></script>
        <script src='/js/jquery.min.js'></script>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>

        <nav class="navigation">
            <ul>
                <li>LOGO</li>
                <li>Home</li>
                <li>TestTet</li>
                <li>Register</li>
                <li>Login</li>
            </ul>
        </nav>

        <section>
            <div>
                <form action="/search" method="post">
                    <input type="text" name="searchPanel"/>
                    <input type="submit" name="searchSubmit"/>
                </form>
            </div>
        </section>

        <section>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                
                <div class="games">
                </div>
                
            </table>
        </section>

        <footer>
            &copy; Copyright 2021
        </footer>

        </main>
    </body>
</html>