<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>
            
        <script>
            if (sessionStorage.getItem("login") != null)
            {
                $(".navigation").append(`
                    <ul>
                        <li>Home</li>
                        <li>Test</li>
                        <li>Profile</li>
                        <li>Log Out</li>
                    </ul>
                `);
            }
        </script>

            <nav class="navigation">
                <ul>
                    <li>Home</li>
                    <li>TestTet</li>
                    <li>Register</li>
                    <li>Login</li>
                </ul>
            </nav>

        <section>

        </section>

        <footer>
            
        </footer>

        </main>
    </body>
</html>