<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/login.js"></script>
        
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>

        <section>
            <div class="lStatusMessageF" style="background-color: red; color:white; text-align:center;">
            </div>
            
            <h1>Login</h1>
            
            <form onsubmit="return login()">
                <label>Email Address: </label>
                <input type="email" id="lEmail" name="lEmail"><br/><br/>

                <label>Password: </label>
                <input type="password" id="lPassword" name="lPassword"><br/><br/>

                <input type="submit" value="Login"><br/>

                <a href="/forgotPassword">Forgot Password?</a>
            </form>
        </section>

        <footer>
            
        </footer>

        </main>
    </body>
</html>