<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <main>

        <section>
            <form method="post" action="/login">
                <label>Email Address: </label>
                <input type="email" name="email"/><br/><br/>

                <label>Password: </label>
                <input type="password" name="password"/><br/><br/>

                <input type="submit" value="Login"/>
                <a href="resetPassword.html">Forgot Password?</a>
            </form>
        </section>

        <footer>
            
        </footer>

        </main>
    </body>
</html>