<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/payment.js"></script>

        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>
        
        <nav class="navigation">
            <ul>
                <li><a href="/">ReAccess</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>

        <section>
            <div id="pStatusMessage" style="width:100%;"></div>

            <h1>Payment Information</h1>

            <form name="paymentInfo" onsubmit="return checkout();">
                <label>Card Number: </label>
                <input type="text" id="pCardNo" required minlength="12" maxlength="19"/><br/>
                <b><span style="color:red;">Supported Card Types: VISA, MASTERCARD, AMERICAN EXPRESS</span></b><br/><br/>

                <label>CVV: </label>
                <input type="text" id="pCVV" required style="width:50px;" minlength="3" maxlength="4"/><br/><br/>
                
                <label>Full Name: </label>
                <input type="text" id="pName" required/><br/><br/>

                <Label>Expiry Month: </Label>
                <input type="number" id="pMonth" required maxlength="2">&nbsp;&nbsp;

                <label>Expiry Year: </label>
                <input type="number" id="pYear" required maxlength="4"><br/><br/>

                <input type="submit" value="Check Out"/>
            </form><br/>

            <section id="gameInformation">
                <!-- <h3>Product Information</h3> -->
            </section>
        </section>

        <footer style="text-align: center; height: 40px; background-color: #0E4D92; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <p style="color: snow; padding-top:10px;">&copy; Copyright 2021</p>
        </footer>

        </main>
    </body>
</html>