<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <script src='/js/playing.js'></script>
        
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>

        <h3 class="gameName">
        </h3>

        <form onsubmit="return storeTime();">
            <input type="text" id="time">

            <input type="submit" value="Leave">
        </form>

        <div id="close">

        </div>

        <footer>
            &copy; Copyright 2021
        </footer>

        </main>
    </body>
</html>