<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <script src='/js/playing.js'></script>
        
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>

        <h3 class="gameName">
        </h3>

        <form onsubmit="return storeTime();">
            <input type="text" id="time">

            <input type="submit" value="Leave">
        </form>

        <div id="close">

        </div>

        <footer style="text-align: center; height: 40px; background-color: #0E4D92; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <p style="color: snow; padding-top:10px;">&copy; Copyright 2021</p>
        </footer>

        </main>
    </body>
</html>