<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>

            <nav class="navigation">
                <ul>
                    <li>LOGO</li>
                    <li>Home</li>
                    <li>Test</li>
                    <li>Profile</li>
                    <li>Log Out</li>
                </ul>
            </nav>

        <section>

        </section>

        <footer>
            
        </footer>

        </main>
    </body>
</html>