<!DOCTYPE html>

<html>
    <head>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/register.js"></script>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <main>
        
            <nav class="navigation">
                <ul>
                    <li><a href="/">ReAccess</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login" class="login">Login</a></li>
                </ul>
            </nav>

        <section>
            <div style="background-color: aqua; height:10px"></div>

            <div id="rStatusMessage" style="background-color:red; width:100%; color:white; text-align: center;"></div><br/>

            <h1 style="text-align:center;">Account Registration</h1>

            <form name="registration" onsubmit="return validateRegister();" style="margin-left:640px;">
                <label>Email Address: </label>
                <input type="email" id="rEmail" name="email" required/><br/><br/>

                <label>Username: </label>
                <input type="text" id="rUsername" name="username" required/><br/><br/>

                <label>Name: </label>
                <input type="text" id="rName" name="name" required/><br/><br/>

                <label>Password: </label>
                <input type="password" id="rPassword" name="rPassword" required/><br/><br/>

                <label>Confirm Password: </label>
                <input type="password" id="rConfirmPassword" name="confirmPassword" required/><br/><br/>

                <input type="submit" value="Register" style="margin-left:80px;"/>
            </form>
        </section>

        <footer style="text-align: center; height: 40px; background-color: #0E4D92; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <p style="color: snow; padding-top:10px;">&copy; Copyright 2021</p>
        </footer>

        </main>
    </body>
</html>