* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation ul{
    display:flex;
    justify-content: center;
    list-style-type:none;
    font-size:24px;
}

.navigation li{
    margin-left:100px;
    margin-right:100px;
}

.navigation li a{
    text-decoration: none;
    color: black;
}

.navigation li a:visited{
    text-decoration: none;
}

.navigation li a:hover{
    color:aqua;
}

